body
  font-family: 'Lato', sans-serif;
  font-weight: 100
  font-size: 1.75em;
  line-height: 1.55em;
  color: rgb(89, 89, 89)

.first
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center center;
  border-color: red
  position: relative;
  z-index: -10000

.header
  background-color: #fff;
  padding 10px 0

.headerbox
  padding: 40px 0;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 100;
  color: #000;
  background-image: url(../images/85.png);
  position: relative;
  top 20%

.subhead
  font-size: .5em;
  font-weight: 100;
  color: #000;
  margin-top: 10px;

.box
  margin-top: 100px;
  background-color: #fff;

.boxs
  margin-top 35px;

.textbox
  padding-right: 30px;

.textbox p
  text-align: justify;

.megabox
  height: 10000px;
  background-color #fff;



.window
  height: 700px;
  margin-top 100px;

.second
  background-image url(../images/03.jpg);
  background-size: cover;

.three
  background-image url(../images/05.jpg);
  background-size: cover;
